.navbar-nav{
  font-size: 18px;
 }
 .navbar a:hover{
   color: black;
   transition: 500ms all;
   background-color: black;
   color: white;
   border-radius: 5px;
 }
 .navbar {
   overflow-x: auto;
   white-space: nowrap;
 }
 
 .nav-item {
   display: inline-block;
 }