<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Online Voting System</h5>
        <p class="card-text">Embracing the Future: Our innovative online voting system, fortified by blockchain technology, ensures every voice is heard and every vote is counted securely and transparently. Say goodbye to doubts and fraud as we pave the way for a new era of democracy, where trust and integrity reign supreme. Join us as we revolutionize the electoral process, making it accessible, reliable, and resilient to manipulation. With blockchain at the helm, we're committed to safeguarding the cornerstone of democracy, one vote at a time.</p>
        <a href="https://github.com/Onkar285/BlockchainVotingSystem" class="btn btn-primary">Go to Github</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ticket Booking Application(JAVA)</h5>
        <p class="card-text">Embark on a Journey of Effortless Event Management: Discover the Power and Precision of Our Java-Driven Ticket Booking Application. From Concerts to Conferences, Secure Your Spot with Confidence and Convenience, Simplifying Every Step of Your Experience, Ensuring Your Time is Spent Enjoying the Event, Not Fretting Over Tickets.</p>
        <a href="https://github.com/Onkar285/BookMyShowClone-JDBC-" class="btn btn-primary">Go to Github</a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Online Shopping Cart (JDBC)</h5>
        <p class="card-text">Indulge in Retail Therapy: Explore a World of Possibilities with Our JDBC-Enabled Online Shopping Cart, Offering a Comprehensive Suite of Features Tailored to Enhance Your Shopping Experience. From Browsing to Checkout, Seamlessly Navigate Through Our Intuitive Interface, Empowering You to Discover, Compare, and Purchase Your Favorite Products with Ease and Confidence, Every Step of the Way.</p>
        <a href="https://github.com/Onkar285/Online-Shopping-Cart-Using-JDBC" class="btn btn-primary">Go to Github</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">COVID-19 Online Diagnosis Testing</h5>
        <p class="card-text">Empower Your Health Journey: Seamlessly Navigate COVID-19 Diagnosis Online with Our Comprehensive Testing Platform, Exclusively Built Using HTML, CSS, and JS. Designed with User-Friendly Features and Advanced Technology, Our Platform Offers a Holistic Approach to Health Monitoring, Providing Peace of Mind and Vital Insights for Individuals Seeking Timely and Accurate Assessments Amidst the Pandemic.</p>
        <a href="https://github.com/Onkar285/Covid-19OnlineCheakup-" class="btn btn-primary">Go to Github</a>
      </div>
    </div>
  </div>
</div>
</div>